body{
    color: #666;
    background: #EDF0F5;
    /*background: #F4F6F9;*/
}
a.color{
    color: #05a6ff !important;
}
h2{
    font-size: 16px;
    padding: 4px 20px;
    margin: 30px 0;
    border-left: 2px solid #05a6ff;
    border-right: 2px solid #05a6ff;
    background: #efefef;
    /* width: 100px; */
    /* text-align: center; */
    font-weight: normal;
    color: #505050;
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
header{
    background: #fff;
    box-shadow: 0 2px 7px #e2e2e2;
}
.ts{
    /*background: #fff;*/
    margin: 0 25% 50px;
    /*box-shadow: 0 2px 7px #e2e2e2;*/
}
.ts_item{
    /*box-shadow: 0 10px 60px 0 rgba(29, 29, 31, 0.09);*/
    /*box-shadow: 0 2px 7px #e2e2e2;*/
    /*box-shadow: 0 0 25px rgba(40, 47, 60, 0.05), 0 20px 25px rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.05);*/
    box-shadow: 0 0 25px rgba(81, 85, 99, 0.05), 0 20px 25px rgba(81, 85, 99, 0.05), 0 3px 4px rgba(81, 85, 99, 0.05);
    padding: 0 5%;
    margin-bottom: 3%;
    background: #fff;
    border-radius: 3px;
    box-sizing: border-box;
}
hr{
    border:none;
    height: 1px;
    /*background: #e6e6e6;*/
    margin-top: 35px;
}
/*.hr{*/
    /*margin-top: 140px;*/
/*}*/
.header{
    padding: 70px 0 50px;
    text-align: center;
    font-size: 36px;
    /*font-weight: 600;*/
    letter-spacing: -9px;
    color: #252529;
    border-bottom: 1px solid #e6e6e6;
}
.header span{
    letter-spacing: 0;
    margin-left: 8px;
    font-size: 36px;
}
ul.nav{
    overflow: hidden;
    margin: 0 25% 25px;
}
.nav li{
    float: left;
    padding: 2%;
}
aside{
    padding: 0 0 0 18%;
    display: inline-block;
    float: left;
}
aside ul{
    background: #fff;
    padding:0 15px;
    box-shadow: 0 0 25px rgba(81, 85, 99, 0.05), 0 20px 25px rgba(81, 85, 99, 0.05), 0 3px 4px rgba(81, 85, 99, 0.05);
}
aside ul li{
    border-bottom: 1px solid #e6e6e6;
    padding: 12px 0;
    /*text-align: center;*/
    cursor: pointer;
    /*margin-bottom: 10px;*/
}
aside ul li:hover{
    color: #05a6ff;
}

.title{
    padding-top: 3%;
    padding-bottom: 3%;
}
.title p{
    padding-bottom: 10px;
}
span.my_icon{
    font-size: 20px;
    color: #05a6ff;
    float: right;
    margin: 30px 20px 30px 0;
    cursor: pointer;
}
.t-code{
    /*background: #dee8ef !important;*/
    /*background: #eceff1 !important;*/
    margin-top: 0;
    color: #05a6ff;
    height: 0;
    line-height: 25px;
    overflow-y: hidden;
    /*display: none;*/
    transition: all .2s linear;
}
.t-code p{
    display: inline-block;
    margin-bottom: 5px;
}
.hljs{
    padding: 15px 10px 10px 15px !important;
    background: #e9f1f7 !important;
}
.hljs-comment{
    font-style: normal !important;
}

/**************/
.linkage_margin{
    padding-bottom: 100px;
}
.t-banner li:nth-of-type(odd){
    height: 250px;
    background: #05a6ff;
}
.t-banner li:nth-of-type(even){
    height: 250px;
    background: #d25c38;
}
.t-marqueebox{
    margin-bottom: 10px;
}
/**/
.box1, .box2, .box3, .box4{
    width: 100px;
    height: 50px;
}
.box1, .box2, .box3{
    overflow: hidden;
}
.box2, .box3{
    transform: rotate(60deg);
}
.box4{
    background-color: #05a6ff;
    text-align: center;
    line-height: 50px;
    transform: rotate(-120deg);
    color: #fff;
}
.box-all{
    position: fixed;
    right: 8%;
    top:0;
    width: 12%;
    height: 100%;
}
.box-all .box1{
    position: absolute;
    cursor: pointer;
}
.boxa{
    top: 300px;
    right: 35px;
}
.boxb{
    top: 249px;
    right: 35px;
}
.boxc{
    top: 351px;
    right: 35px;
}
.boxd{
    top: 274px;
    right: -9px;
}
.boxe{
    top: 325px;
    right: -9px;
}
.boxf{
    top: 275px;
    right: 79px;
}
.boxg{
    top: 377px;
    right: 79px;
}
.boxh{
    top: 428px;
    right: 79px;
}
.boxi{
    top: 301px;
    right: 123px;
}
.boxj{
    top: 454px;
    right: 35px;
}

.nip, .wip, .adddress{
    padding-right: 10px;
}